.box30 {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    padding-left: 10%; /* 画面幅の10% */
    padding-right: 10%; /* 画面幅の10% */
    width: 50%; /* 幅は100% */
    box-sizing: border-box; /* paddingも幅に含める */
    text-align: center;
}

.box30 .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding-left: 10%; /* 画面幅の10% */
    padding-right: 10%; /* 画面幅の10% */
}

.box30 p {
    padding: 15px 20px;
    margin: 0;
}
